.form {
  display: grid;
  grid-template-columns: 1fr 150px;
  gap: 20px;
}

@media (max-width: 576px) {
  .form {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 300px) {
  .form {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.form__input {
  padding: 10px;
  border: 2px solid #ddd;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 300px) {
  .form__input {
    padding: 8px;
    font-size: 14px;
  }
}

.form__button {
  border: none;
  background: teal;
  color: white;
  transition-duration: 0.5s, 0.5s;
  cursor: pointer;
}

@media (max-width: 576px) {
  .form__button {
    padding: 10px;
  }
}

@media (max-width: 300px) {
  .form__button {
    padding: 8px;
  }
}

.form__button:hover {
  background: rgb(33, 155, 155);
  transform: scale(1.1);
}

.form__button:active {
  border: 1px solid black;
  border-radius: 2px;
}
